*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Hidden styles start */
.menueOpenDiv {
display: none;
}
.menueOpenImg {
display: none;
}
/* Hidden styles end */

/* Style for the entire header */
.landingPageHeader {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 28px 100px 0 100px;
    /* background-color: #F9F9F9; */
    /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); */
  }
  
  /* Style for the left section (logo and navigation) */
  .leftSection {
    display: flex;
    align-items: center;
    /* margin-left: 10%; */
  }
  
  .logo {
    color: #52489C;
    font-family: League Spartan;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: bold;
    line-height: normal;

}

.ul {
  list-style: none;
  display: flex;
  margin-left: 118px;
  gap: 35px;
}

.link {
  text-decoration: none;
   color: #46435b;/* Text color for navigation links */
  font-weight: 400px;
  font-size: 18px;
}
.basketCon {
  position: relative;
  /* padding-bottom: 20px; */
}
.basketDropDownDiv {
  position: absolute;
  /* top: 0; */
  left: 0;
}
.occasionsCon {
  position: relative;
  /* padding-bottom: 20px; */
}
.occasionsDropDownDiv {
  position: absolute;
  /* top: 0; */
  left: 0;
}
.link:hover {
   color: #52489C;
   font-weight: 600;
}

/* Style for the right section (cart icon and search input) */
.rightSection {
  display: flex;
  align-items: center;
}

.cartSection {
  display: flex;
  align-items: center;
}
.searchInput {
  margin-left: 20px;
  display: flex;
  align-items: center;
  position: relative; /* Position relative for positioning the search icon */
}

.searchIcon {
  /* Style your search icon image here */
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 10px; /* Adjust the left position of the search icon */
  transform: translateY(-50%);
}

.searchTextInput {
  width: 375px;
  height: 38px;
  /* padding-left: 20px; */
  border: 1px solid #46435B;
  border-radius: 10px;
  font-size: 16px;
  text-indent: 40px;
}

/* Mobile style start */
@media (max-width: 1270px) {
.landingPageHeader {
  /* display: flex; */
  justify-content: space-between;
  /* align-items: center; */
  padding: 28px 30px 0 30px;

}
.ul {
  display: none;
}
.searchTextInput {
  display: none;
}

.menueOpenDiv {
  display: block;
}
.menueOpenImg {
  display: block;
}
.searchIcon {
  /* Style your search icon image here */
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: -100px; /* Adjust the left position of the search icon */
  transform: translateY(-50%);
}
.cartIcon {
  margin-right: 10px;
}
}